body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    background: black;
    color: white;
    padding: 15px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* Sections */
section {
    padding: 60px;
    text-align: center;
}

.home {
    background: lightblue;
    height: 80vh;
}

/* FORM */
form {
    max-width: 400px;
    margin: auto;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}